
<div id="principal">
  <div id="lenguajes">
    <shared-divider [titulo]="'Lenguajes'"></shared-divider>
    <div id="cajaLenguajes">
      <img src="./assets/images/javascript.png" alt="javascript">
      <img src="./assets/images/java.png" alt="java.png">
      <img src="./assets/images/php.png" alt="php.png">
      <img src="./assets/images/c++.png" alt="c++.png">
      <img src="./assets/images/react.png" alt="react.png">
      <img src="./assets/images/angular2.png" alt="angular2.png">
      <img src="./assets/images/bootstrap.png" alt="bootstrap.png">
      <img src="./assets/images/wordpress.png" alt="wordpress.png">
      <img src="./assets/images/html.png" alt="html.png">
      <img src="./assets/images/css.png" alt="css.png">
    </div>
  <div id="databases">
    <shared-divider [titulo]="'Databases'"></shared-divider>
    <div id="cajaDatabases">
      <img src="./assets/images/mysql.png" alt="mysql">
      <img src="./assets/images/mongodb.png" alt="mongodb.png">
      <img src="./assets/images/firebase.png" alt="firebase.png">
      <img src="./assets/images/oracle.png" alt="oracle.png">

    </div>
  </div>
  <div id="backend">
    <shared-divider [titulo]="'Backend'"></shared-divider>
    <div id="cajaBackend">
      <img src="./assets/images/nestjs.png" alt="nestjs">
    </div>
  </div>
  <div id="proximasHabilidades">
    <shared-divider [titulo]="'Proximas Habilidades'"></shared-divider>
    <div id="cajaProximasHabilidades">
      <img src="./assets/images/laravel.png" alt="laravel">
      <img src="./assets/images/illustrator.png" alt="illustrator">
      <img src="./assets/images/indesign.png" alt="indesign">
      <img src="./assets/images/photoshop.png" alt="photoshop">
      <img src="./assets/images/premiere.png" alt="premiere">
      <img src="./assets/images/mailchimp.png" alt="mailchimp">
    </div>
  </div>

</div>
