#principal {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
div{
  margin-bottom: 3rem;
}
img{
  padding-bottom: 2rem;
}
#cajaLenguajes{
  margin-left: 15%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
#cajaDatabases{
  margin-left: 15%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
#cajaBackend{
  margin-left: 15%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
#cajaProximasHabilidades{
  margin-left: 15%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
/* #lenguajes{
  margin-left: 5%;
} */
