<footer id="footer">
  <p-panel id="contenido">
    <ng-template pTemplate="header">
      <span class="text-primary font-semibold text-xl"
        >Web realizada con Angular</span
      ></ng-template>

    <div id="iconosSociales">
      <img id="angular" src="./assets/images/angular.png" alt="" />
      <a id="linkedin" href="https://www.linkedin.com/in/antonio-jóse-rivera-hidalgo-151936279"><img  src="./assets/images/linkedin.png" alt="" /></a>
      <a id="gmail" href="mailto:rivera.hidalgo.antonio.jose@gmail.com"><img src="./assets/images/gmail.png" alt="" /></a>
      <a id="github" href="https://github.com/Antonioriver"><img  src="./assets/images/github.png" alt="" /></a>

    </div>
    <ng-template pTemplate="footer"> </ng-template>
  </p-panel>
</footer>
