<footer id="footer">
  <p-panel id="contenido">
    <ng-template pTemplate="header">
      <span class="text-primary font-semibold text-xl"
        >Web realizada con Angular</span
      ></ng-template>

    <div id="iconosSociales">
      <img id="angular" src="./assets/images/angular.png" alt="" />
      <img id="linkedin" src="./assets/images/linkedin.png" alt="" />
      <img id="gmail" src="./assets/images/gmail.png" alt="" />
      <img id="github" src="./assets/images/github.png" alt="" />
    </div>
    <ng-template pTemplate="footer"> </ng-template>
  </p-panel>
</footer>
