<div id="principal">
  <div id="uno">
    <h1>Antonio José Rivera Hidalgo</h1>
    <h2>Desarrollador Web</h2>
    <h4>
      Soy técnico superior en <strong>Desarrollo de Aplicaciones Web</strong>. Me encanta aprender día a día
      programación de forma autodidacta ya que es mi afición desde hace varios
      años. En mi portafolio podrás encontrar todos mis proyectos, habilidades,
      experiencia y una forma de contactar conmigo.
    </h4>
  </div>
  <div id="dos">
    <a
      href="./assets/documents/cvAntonioRivera.pdf"
      download="cvAntonioRivera.pdf"
      ><shared-button
        [nombreBoton]="'Descarga mi CV'"
        [tipoBoton]="'danger'"
      ></shared-button
    ></a>
  </div>
</div>
