<div id="principal">
  <div id="proyectosTerminados">
    <shared-divider [titulo]="'Proyectos terminados'"></shared-divider>
    <div id="proyectos">
      <shared-card
      [nombre]="'Gifs-app'"
      [realizadoEn]="'Angular'"
      [imagen]="'./assets/images/gif.png'"
      [descripcion]="'Página realizada en Angular donde se pueden buscar Gifs'"
      [url]="'https://antonioriver.github.io/gifs-app/'"
    ></shared-card>
    <shared-card
      [nombre]="'Countries-app'"
      [realizadoEn]="'Angular'"
      [imagen]="'./assets/images/international.png'"
      [descripcion]="'Página realizada en Angular donde podemos buscar países y obtener su información'"
      [url]="'https://antonioriver.github.io/country-app/'"
    ></shared-card>
    <shared-card
      [nombre]="'Pipes-app'"
      [realizadoEn]="'Angular'"
      [imagen]="'./assets/images/pipes.png'"
      [descripcion]="'Página realizada en Angular destinada al aprendizaje de los pipes y PrimeNg'"
      [url]="'https://antonioriver.github.io/pipes-app/'"
    ></shared-card>

    </div>
  </div>
  <div id="proyectosEnProceso">
    <shared-divider [titulo]="'Proyectos en proceso'"></shared-divider>
    <div id="proyectos">
      <shared-card
      [nombre]="''"
      [realizadoEn]="''"
      [imagen]="'./assets/images/noIdea.png'"
      [descripcion]="'Actualmente no puedo mostrar este proyecto'"
      [url]="''"
    ></shared-card>
    </div>
  </div>
</div>





